---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import TrustStrip from '../components/TrustStrip.astro';
import Problem from '../components/Problem.astro';
import About from '../components/About.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Services from '../components/Services.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="TheEduAssist | Turn Your Knowledge Into a Launch-Ready Online Course">
	<main>
		<Hero />
		<TrustStrip />
		<Problem />
		<About />
		<HowItWorks />
		<Services />
		<CTA />
	</main>
	<Footer />
</Layout>
